* {
    box-sizing: border-box;
    margin: 30;
    padding: 30;
    width: 300px;
    list-style-type: none;
}
body {
    background-color: white;
}
.conteiner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    background-color: white;
    border: 1px solid white;
}

.input {
    padding: 16px 100px 16px 16px;
    border: 14px solid gainsboro;
}